
body {

	background-color: black;
  font-size: 50px;
  font: white;
	text-align: center;
}

#p1{
	position: absolute;
	top: 130px;
left:100px;

}
#t1 {
position: absolute;
top: 170px;
left:600px;
  width:200px;
}

#h1{
	position: absolute;
	top: 340px;
	left:600px;
	right:50px;
	  width:200px;

}

h2{
color: white;
	position: absolute;
	top: 200px;
	left:400px;
}

h3{
color: white;

}
#p3{

	position: absolute;
	top: 140px;
	left:280px;
}
h6{
	position: absolute;

	top: 520px;
	  color:white;
		font-size: 20px;
}
#pdoll{

	position: absolute;
	top: 800px;
left: 630px;
}

#pcat{

	position: absolute;
	top: 800px;
left: 200px;
}


h5{
	position: absolute;
	top: 1000px;
left: 70px;
color: white;
}
h4{
	position: absolute;
	top: 1200px;
left: 170px;
color: white;
  font-size: 20px;
}
